body div {
    /* border: 1px black solid; */
    /* text-align: center; */
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
}

/* h1 {
    padding-left: 10px;
    text-align: left;
} */