.textContent {
    padding-left: 15px;
    font-size: 18px;
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

blockquote span {
    color: rgb(104, 104, 104);

    font-size: 14px;
    font-weight: 400;
}

a {
    font-weight: 600;
    margin-left: 12px;
    text-decoration: none;
}